{% extends 'base.html' %}

{% block content %}
<h3>Login</h3>
<form method="post">
{{ form.csrf_token }} <!-- 渲染CSRF令牌隐藏字段 -->
<div class="form-group">
	{{ form.username.label }}
	{{ form.username(class='form-control') }}
	{% for message in form.username.errors %}
		<small class="errors">{{message}}</small>
	{% endfor %}
</div>	
<div class="form-group">
	{{ form.password.label }}
	{{ form.password(class='form-control') }}
	{% for message in form.password.errors %}
		<small class="errors">{{message}}</small>>
	{% endfor %}
</div>
<div class="form-check">
	{{ form.remember(class='form-check-input') }}
	{{ form.remember.label }}</div>
<div>
	{{ form.submit(class='btn btn-primary') }}
</div>
</form>
{% endblock %}