<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="{{url_for('static', filename='favicon1.ico')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	<meta charset="utf-8">
	<title>{{user.name}}'s watchlist</title>
</head>
<body>
	<h2 style="text-align: center;font-size: 32px;position: relative;z-index: 99;font-family: fantasy;"><img alt="avatar" class="avatar" src="{{url_for('static', filename='favicon.ico')}}"> {{user.name}}'s watchlist
	</h2>
	<ul class="movie-list">
		<li>
			Page Not Found - 404
			<span class="float-right">
				<a href="{{url_for('index')}}">Go Back</a>
			</span>
		</li>
	</ul>
	<footer>
		<small>&copy; 2020 <a href="http://helloflask.com/tutorial">Hello Flask</a></small>
	</footer>
</body>
</html>